<template name="generarCobroFacturaModal">

	 <div id="agregar-modal" class="modal fade" data-backdrop="static"  data-keyboard="false">
        <div class="modal-dialog" style="width:90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Emitir cobro</h3>
                </div>
                <div class="modal-body" style="padding: 0px;">                   		<!-- Pasos a seguir -->
					<div class="caja-pasos" style="height:90px;">
						<div class="paso">
							<span class="paso-circle choosed indicator" style="width:30px;height:30px"></span>
							<h4>1. Selecciona los asuntos</h4>
						</div>
						{{#if conHonorarios}}
							<div class="paso">
								<span class="paso-circle paso-sin-seleccionar paso-hora indicator" style="width:30px;height:30px"></span>
								<h4>2. Selecciona las horas</h4>
							</div>
						{{/if}}
						{{#if conGastos}}
							<div class="paso">
								<span class="paso-circle paso-sin-seleccionar paso-gasto indicator" style="width:30px;height:30px"></span>
								<h4>3. Selecciona los gastos</h4>
							</div>
						{{/if}}
						<div class="paso">
							<span class="paso-circle paso-sin-seleccionar paso-cobro indicator" style="width:30px;height:30px"></span>
							<h4>4. Emitir cobro</h4>
						</div>
					</div>
					<div class="formulario-asuntos step" data-nombre="asuntos">
		                <div class="table-wrapper">
							<table cellspacing="0" id="tech-companies">
								<thead>
									<tr>
										<th class="persist essential" style="padding-top: 0px;">
					 						<h3 style="text-align: center;">
												<i class="fa fa-hdd-o" aria-hidden="true"></i>
											</h3>
										</th>
										<th class="essential" style="padding-top: 0px;">
					 						<h3 style="text-align: center;">
					 							<i class="fa fa-clock-o" aria-hidden="true"></i>
					 						</h3>
										</th>
										<th class="essential" style="padding-top: 0px;">
											<h3 style="text-align: center;">
												<i class="fa fa-money" aria-hidden="true"></i>
					 						</h3>
										</th>
										<th class="essential" style="padding-top: 0px;">
											<h3 style="text-align: center;">
												<i class="fa fa-cube" aria-hidden="true"></i>
					 						</h3>
										</th>
									</tr>
								</thead>
									<tbody>
										{{#each asuntos}}
											<tr>
												<td>
													<h5 style=" font-size: 17.5px; color: #34495e; font-weight: bold;">
														<span class="fh-checkbox">
															<input class="check-asunto" type="checkbox" id="{{this._id}}" name="mycheckbox" value="{{this._id}}">
															<label for="{{this._id}}">{{this.caratula}}</label>
														</span>
													</h5>
												</td>
												<th>
													<h5 style=" font-size: 17.5px; color: #34495e; font-weight: bold;">
														{{horas}}
													</h5>
												</th>
												<td>
													<h5 style=" font-size: 17.5px; color: #34495e; font-weight: bold;">
														{{monto}}
													</h5>
												</td>
												<td>
													<h5 style=" font-size: 17.5px; color: #34495e; font-weight: bold;">
														S/. {{totalGastos}}
													</h5>
												</td>
											</tr>
										{{/each}}
									</tbody>
							</table>
						</div>
					</div>
					{{#if conHonorarios}}
					<div class="formulario-horas step hide" data-nombre="horas">
						<div class="table-wrapper">
							<div class="">
								<form class="cd-form" style="margin:0 auto">
									<div class="row">
										<div class="col-md-6" style="margin:0">
											<div class="icon" style="margin:0">
												<label for="" class="cd-label">Fecha de inicio</label>
												<input type="text" name="name" value="" class="fecha-inicio" id="datepicker_start">
											</div>
										</div>
										<div class="col-md-6" style="margin:0">
											<div class="icon" style="margin:0">
												<label for="" class="cd-label">Fecha de fin</label>
												<input type="text" name="name" value="" class="fecha-fin" id="datepicker_end">
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="">
								<h5 style="text-align: left; font-size: 17.5px; color: #34495e; font-weight: bold; margin-left:20px">
									<span class="fh-checkbox">
										<input class="" type="checkbox" id="todas-horas" name="mycheckbox" value="{{this.id}}">
										<label id="marcador" for="todas-horas">Seleccionar todas las horas</label>
									</span>
								</h5>
							</div>
							<table cellspacing="0" id="tech-companies">
								<thead>
									<tr>
										<th class="persist essential" style="padding-top: 0px;">
					 						<h3 style="text-align: center;">
												<i class="fa fa-hdd-o" aria-hidden="true"></i>
											</h3>
										</th>
										<th class="essential" style="padding-top: 0px;">
					 						<h3 style="text-align: center;">
					 							<i class="fa fa-clock-o" aria-hidden="true"></i>
					 						</h3>
										</th>
										<th class="essential" style="padding-top: 0px;">
											<h3 style="text-align: center;">
												<i class="fa fa-money" aria-hidden="true"></i>
					 						</h3>
										</th>
										<th class="essential" style="padding-top: 0px;">
											<h3 style="text-align: center;">
												<i class="fa fa-cube" aria-hidden="true"></i>
					 						</h3>
										</th>
									</tr>
								</thead>
									<tbody>
										{{#each horasCompletas}}
											<tr>
												<td>
													<h5 style=" font-size: 17.5px; color: #34495e; font-weight: bold;">
														<span class="fh-checkbox">
															<input class="check-hora" type="checkbox" id="{{this.id}}" name="mycheckbox" value="{{this.id}}">
															<label for="{{this.id}}">{{this.responsable}}</label>
														</span>
													</h5>
												</td>
												<th>
													<h5 style=" font-size: 17.5px; color: #34495e; font-weight: bold;">
														{{this.tiempo}}
													</h5>
												</th>
												<td>
													<h5 style=" font-size: 17.5px; color: #34495e; font-weight: bold;">
														{{this.asunto}}
													</h5>
												</td>
												<td>
													<h5 style=" font-size: 17.5px; color: #34495e; font-weight: bold;">
														S/. {{this.precio}}
													</h5>
												</td>
											</tr>
										{{/each}}
									</tbody>
							</table>
						</div>

					</div>
					{{/if}}
					{{#if conGastos}}
					<div class="formulario-gastos step hide" data-nombre="gastos">
						<div class="table-wrapper">
							<table cellspacing="0" id="tech-companies">
								<thead>
									<tr>
										<th class="persist essential" style="padding-top: 0px;">
					 						<h3 style="text-align: center;">
												<i class="fa fa-hdd-o" aria-hidden="true"></i>
											</h3>
										</th>
										<th class="essential" style="padding-top: 0px;">
					 						<h3 style="text-align: center;">
					 							<i class="fa fa-clock-o" aria-hidden="true"></i>
					 						</h3>
										</th>
										<th class="essential" style="padding-top: 0px;">
											<h3 style="text-align: center;">
												<i class="fa fa-money" aria-hidden="true"></i>
					 						</h3>
										</th>
										<th class="essential" style="padding-top: 0px;">
											<h3 style="text-align: center;">
												<i class="fa fa-cube" aria-hidden="true"></i>
					 						</h3>
										</th>
									</tr>
								</thead>
									<tbody>
										{{#each gastosCompletos}}
											<tr>
												<td>
													<h5 style=" font-size: 17.5px; color: #34495e; font-weight: bold;">
														<span class="fh-checkbox">
															<input class="check-gasto" type="checkbox" id="{{this.id}}" name="mycheckbox" value="{{this.id}}">
															<label for="{{this.id}}">{{this.descripcion}}</label>
														</span>
													</h5>
												</td>
												<th>
													<h5 style=" font-size: 17.5px; color: #34495e; font-weight: bold;">
														{{this.responsable}}
													</h5>
												</th>
												<td>
													<h5 style=" font-size: 17.5px; color: #34495e; font-weight: bold;">
														{{this.asunto}}
													</h5>
												</td>
												<td>
													<h5 style=" font-size: 17.5px; color: #34495e; font-weight: bold;">
														S/. {{this.precio}}
													</h5>
												</td>
											</tr>
										{{/each}}
									</tbody>
							</table>
						</div>

					</div>
					{{/if}}
					<div class="formulario-cobro step hide" data-nombre="cobro">
						<div class="">
							<h1>Honorarios</h1>
							<div class="">
								<label for="">Trabajos</label>
								<input type="text" name="name" value="">
							</div>
							<div class="">
								<label for="">Tramites</label>
								<input type="text" name="name" value="">
							</div>
							<div class="">

							</div>
						</div>
					</div>
					<div style="width: 100%; padding: 10px; padding-left: 90px;">
						<a href="#" class="btn nueva-tarea anterior-paso hide" style="width: 15%; text-transform: capitalize; border-bottom: 0; background-color:#3498DB ">
							Anterior
						</a>
						{{#if verificarFormularioActual}}
						<a href="#" class="btn nueva-tarea siguiente-paso" style="width: 15%; text-transform: capitalize; border-bottom: 0; background-color:#3498DB ">
							Continuar
						</a>
						{{/if}}
					</div>
                </div>

                <div class="modal-footer">
					<button type="button" class="btn boton-facturar guardar-estado">
						Guardar estado
					</button>
                    <button type="button" class="btn btn-default cerrar-modal">
                    	Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
