<template name="filtroClienteHoraModal">
    <div id="agregar-horas-modal" class="modal fade">
       <div class="modal-dialog">
           <div class="modal-content">

               <div class="modal-header">
                   <h4 class="modal-title">Filtrar por asunto</h4>
               </div>

               <div class="modal-body">
                 <form class="cd-form floating-labels" style="margin-top: -20px; margin-bottom: 0px;" novalidate>
                   <fieldset>

                       <div class="icon">
						   <label class="cd-label" for="cd-email">Asunto</label>
						   <p class="cd-select icon">
							   <select class="budget asunto" name="cliente">
								   {{#each clientes}}
			                           <option value="{{this._id}}">{{this.nombre}} {{this.apellido}}</option>
								   {{/each}}
							   </select>
						   </p>
					   </div>
                       <input type="submit" value="Filtrar">
                   </fieldset>
                 </form>
               </div>

               <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
               </div>

           </div>
       </div>
   </div>
</template>
