<template name="facturacion">
	<!-- Menu -->
    <div class="franja-progreso">
        <div class="progreso">
            <p>
                {{email}}
                <i class="glyphicon glyphicon-chevron-right" style="color: #2c3e50"> </i>
                <a href="/clientes2" > Facturación</a>
            </p>
        </div>
    </div>

    <div class="franja-filtros" style="padding-left: 18px;">
        <a href="/dashboard2" class="menu-asunto-aim" style="margin-left: 0px;">
            Actividad
        </a>
        <a href="/calendario2" class="menu-asunto-aim " style="margin-left: 0px;">
            Calendario
        </a>
        <a href="/tareas" class="menu-asunto-aim " style="margin-left: 0px;">
            Tareas
        </a>
        <a href="/equipo" class="menu-asunto-aim ">
            Equipo
        </a>
        <a href="/asuntos2" class="menu-asunto-aim" style="margin-left: 0px;">
            Asuntos
        </a>
        <a href="/clientes2" class="menu-asunto-aim " style="margin-left: 0px;">
            CRM
        </a>
        <a href="/facturacion" class="menu-asunto-aim asunto-item-activo" style="margin-left: 0px;">
            Facturación
        </a>
    </div>

    <div class="franja-filtros" style="margin-bottom: 2.5px;">
         <a href="/facturacion" class="menu-asunto-aim ">
            Resúmen
        </a>
        <a href="/facturacion/horas" class="menu-asunto-aim asunto-item-activo" style="margin-left: 0px;">
            Horas
        </a>
        <a href="/facturacion/gastos" class="menu-asunto-aim" style="margin-left: 10px;">
            Gastos
        </a>
        <a href="/facturacion/cobros" class="menu-asunto-aim" style="margin-left: 10px;">
            Cobros
        </a>
        <a href="/facturacion/reportes" class="menu-asunto-aim" style="margin-left: 10px;">
            Reportes
        </a>
        <a href="/facturacion/configuracion-facturacion" class="menu-asunto-aim" style="margin-left: 10px;">
            Configuración
        </a>
    </div>
	<div>


		<div class="franja-filtros" >
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle nueva-tarea azul-flat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 10px; width: 90px; border-bottom: none; margin-top: 15px;">
                    Nuevo <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                <li class="persona agregar-hora"><a href="#">+ Hora</a></li>
                  <li class="empresa agregar-gasto"><a href="#">+ Gasto</a></li>
                  <li class="empresa"><a href="#">+ Negociacion</a></li>
                </ul>
            </div>
            <div class="btn-group">
          		<button type="button" class="btn dropdown-toggle  nueva-tarea azul-flat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 22px; width: 90px; border-bottom: none; margin-top: 15px; background-color: white; color: #34495e;">
           					<i class="fa fa-filter" aria-hidden="true"></i> <span class="caret"></span>
          		</button>
          		<ul class="dropdown-menu">
                    <li class="empresa todos"><a href="#" style="color: #9b59b6;">Todos</a></li>
                    <li class="empresa hoy"><a href="#" style="color: #9b59b6;">Hoy</a></li>
                    <li class="empresa ayer"><a href="#" style="color: #2ecc71;">Ayer</a></li>
                    <li class="empresa semana"><a href="#" style="color: #e74c3c;">Esta semana</a></li>
                    <li class="empresa mes"><a href="#" style="color: #e74c3c;">Este mes</a></li>
                    <li class="divider"></li>
                    <li class="empresa asuntos"><a href="#">Por asunto</a></li>
                    <li class="empresa cliente"><a href="#">Por cliente</a></li>
                    <li class="empresa miembros"><a href="#">Por miembros</a> </li>
          		</ul>
            </div>
            <input type="text" class="buscador-bunqr buscador-horas" placeholder="Busca horas por descripcion, clientes o asunto...">

        </div>

        <!-- Lista de horas -->
        <div class="cuadro-tarea-horas"  style="padding: 0px; height: 400px;">
            <div class="table-wrapper">
                <table cellspacing="0" id="tech-companies">
                     <thead>
                            <tr>
                                 <th class="persist essential">
                                    <h3 style="text-align: center;" >
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                    </h3>
                                 </th>
                                 <th class="optional">
                                    <h3 style="text-align: center;">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    </h3>
                                 </th>
                                 <th class="essential">
                                    <h3 style="text-align: center;">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    </h3>
                                 </th>
                                <th class="essential">
                                    <h3 style="text-align: center;">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </h3>
                                 </th>
                                 {{#if esAdministradoroEncargado}}
                                 <th class="optional">
                                     <h3 style="text-align: center;">
                                         <i class="fa fa-user" aria-hidden="true"></i>
                                     </h3>
                                 </th>
                                 {{/if}}
                                 <th>
                                    <h3 style="text-align: center;">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                    </h3>
                                 </th>
                            </tr>
                     </thead>
                     <tbody>
                        {{#each horas}}
                            <tr>
                                 <th>
                                     {{#if this.descripcion}}
                                         <h5 style="text-align: center; font-size: 17.5px; color: #34495e; font-weight: bold;">
                                             {{this.descripcion}}
                                         </h5>
                                     {{else}}
                                        <h5 style="color: #7f8c8d;"> <a class="agregar-descripcion" href="#">+ Descripcion</a> </h5>
                                     {{/if}}
                                 </th>
                                 <td>
                                    <h5 style="text-align: center; font-size: 17.5px; color: #34495e; font-weight: bold;">
                                        {{this.horas}}h {{this.minutos}}m
                                    </h5>
                                 </td>
                                <td>
                                    {{#if this.asunto.nombre}}
                                        <h5 style="text-align: center; font-size: 14px; color: #34495e;">
                                            {{this.asunto.nombre}}
                                        </h5>
                                    {{else}}
                                        <h5 style="color: #7f8c8d;"><a class="agregar-asunto" href="#">+ Asunto</a></h5>
                                    {{/if}}
                                 </td>
                                 <td>
                                     {{#if this.asunto}}
                                         <h5 style="text-align: center; font-size: 14px; color: #34495e;">
                                             {{cliente}}
                                         </h5>
                                     {{else}}
                                         <h5 style="color: #7f8c8d;"><a class="agregar-asunto" href="#">+ Asunto</a></h5>
                                     {{/if}}
                                </td>
                                {{#if esAdministradoroEncargado}}
                                <td>
                                    <h5 style="text-align: center; font-size: 14px; color: #34495e;">
                                        VALOR
                                    </h5>
                                </td>
                                {{/if}}
                                 <td>
                                    <h3 style="text-align: center;">
                                        <div class="btn-group">
                                          <button type="button" class="btn dropdown-toggle" style="background-color: white; padding: 0; color: #34495e;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="glyphicon glyphicon-option-vertical"></i> <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu">
                                            <li class="editar-asunto"><a style="color: #3498db;">Editar</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li class="cerrar-asunto"><a data-id="#" style="color: #e74c3c;">Eliminar</a></li>
                                          </ul>
                                        </div>
                                    </h3>
                                 </td>
                            </tr>
                        {{/each}}
                     </tbody>
                </table>
            </div>





        </div>

	</div>

</template>

<template name="reportesFacturacion">
    <!-- Menu -->
    <div class="franja-progreso">
        <div class="progreso">
            <p>
                {{email}}
                <i class="glyphicon glyphicon-chevron-right" style="color: #2c3e50"> </i>
                <a href="/clientes2" > Facturación</a>
            </p>
        </div>
    </div>

    <div class="franja-filtros" style="padding-left: 18px;">
        <a href="/dashboard2" class="menu-asunto-aim" style="margin-left: 0px;">
            Actividad
        </a>
        <a href="/calendario2" class="menu-asunto-aim " style="margin-left: 0px;">
            Calendario
        </a>
        <a href="/tareas" class="menu-asunto-aim " style="margin-left: 0px;">
            Tareas
        </a>
        <a href="/equipo" class="menu-asunto-aim ">
            Equipo
        </a>
        <a href="/asuntos2" class="menu-asunto-aim" style="margin-left: 0px;">
            Asuntos
        </a>
        <a href="/clientes2" class="menu-asunto-aim " style="margin-left: 0px;">
            CRM
        </a>
        <a href="/facturacion" class="menu-asunto-aim asunto-item-activo" style="margin-left: 0px;">
            Facturación
        </a>
    </div>

    <div class="franja-filtros" style="margin-bottom: 2.5px;">
         <a href="/facturacion" class="menu-asunto-aim ">
            Resúmen
        </a>
        <a href="/facturacion/horas" class="menu-asunto-aim" style="margin-left: 0px;">
            Horas
        </a>
        <a href="/facturacion/gastos" class="menu-asunto-aim" style="margin-left: 10px;">
            Gastos
        </a>
        <a href="/facturacion/cobros" class="menu-asunto-aim" style="margin-left: 10px;">
            Cobros
        </a>
        <a href="/facturacion/reportes" class="menu-asunto-aim asunto-item-activo" style="margin-left: 10px;">
            Reportes
        </a>
        <a href="/facturacion/configuracion-facturacion" class="menu-asunto-aim" style="margin-left: 10px;">
            Configuración
        </a>
    </div>

    <div class="lista-reportes">
        <div class="item-reporte reporte-asunto">
            <h4> <i class="glyphicon glyphicon-equalizer"></i>Reporte de asunto</h4>
            <p>Obtén información detalle del tiempo puesto en un asunto en específico</p>
        </div>
        <div class="item-reporte reporte-cliente">
             <h4> <i class="glyphicon glyphicon-stats"></i>Reporte de Cliente</h4>
             <p>Obtén un reporte detallado del tiempo gastado trabajando para un cliente específico</p>
        </div>
        <div class="item-reporte reporte-usuario">
             <h4> <i class="glyphicon glyphicon-home"></i>Reporte de usuario</h4>
             <p>Este reporte muestra la actividad de un miembro en un intervalo de tiempo específico</p>
        </div>
        <div class="item-reporte reporte-actividad">
             <h4> <i class="glyphicon glyphicon-signal"></i>Reporte de actividad</h4>
             <p>Ordena las horas ingresadas por cliente, asunto, usuario e intervalo de tiempo</p>
        </div>
        <div class="item-reporte reporte-esfuerzo">
             <h4> <i class="glyphicon glyphicon-blackboard"></i>Reporte de esfuerzo</h4>
             <p>Reporte personalizado que permite filtrar por asunto, usuario e intervalo de tiempo</p>
        </div>
    </div>

</template>

<template name="reporteAsuntoModal">
     <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="custom-modal">
                    <h4><i class="glyphicon glyphicon-equalizer"></i></h4>
                    <h3>Reporte de asunto</h3>
                    <form class="form-inline">
                        <br>

                        <div class="row">
                            <div class="form-group">
                                <label>Asunto</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Usuario</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Intervalo</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="boton-generar-reporte">Generar reporte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="reporteClienteModal">
     <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="custom-modal">
                    <h4><i class="glyphicon glyphicon-stats"></i></h4>
                    <h3>Reporte de cliente</h3>
                    <form class="form-inline">
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="form-group">
                                <label>Usuario</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Intervalo</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="boton-generar-reporte">Generar reporte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="reporteUsuarioModal">
     <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="custom-modal">
                    <h4><i class="glyphicon glyphicon-home"></i></h4>
                    <h3>Reporte de usuario</h3>
                    <form class="form-inline">
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Usuario</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Intervalo</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="boton-generar-reporte">Generar reporte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="reporteActividadModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="custom-modal">
                    <h4><i class="glyphicon glyphicon-signal"></i></h4>
                    <h3>Reporte de actividad</h3>
                    <form class="form-inline">
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Asunto</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Usuario</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Intervalo</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="boton-generar-reporte">Generar reporte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="reporteEsfuerzoModal">
     <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="custom-modal">
                    <h4><i class="glyphicon glyphicon-blackboard"></i></h4>
                    <h3>Reporte de esfuerzo</h3>
                    <form class="form-inline">
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Cliente</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Asunto</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Usuario</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label>Intervalo</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="boton-generar-reporte">Generar reporte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
