
<template name="tarifaModal">
  <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body" style="padding: 0px; background-color: #F2F2F2;">

              <div class="modal-formulario">
            <div class="side-help">
              <div class="about-asunto fondo-bunqr" style="height: 230px;">
                <h2>
                  Tarifas
                </h2>
                <p style="color: white;">Crea tarifas para asignar el precio por hora a tu trabajo y al de tu equipo por asunto, cliente o tarifas generales.</p>

              </div>
              <div class="about-asunto fondo-ayuda" style="height: 245px; padding-top: 55px;">
                <h3>
                  ¿Necesitas ayuda?
                </h3>
                <p>
                  Haz click <a href="#" data-elevio-article="75102" class="color-bunqr">aquí</a> para ver un tutorial. También, puedes contactarnos a <a href="#" class="color-bunqr">soporte@grupoddv.com</a>
                </p>
              </div>
            </div>

            <div class="contenido-formulario" style="height: 480px;">

            </div>

            <div class="cuadro-datos-asunto" style="height: 100px; width: 76.5%; position: relative; left: 208px; background-color: white; height: 75px; border-top: 2px solid #F2F2F2;">
              <input class="agregar-tarifa" type="button" value="Agregar tarifa">
            </div>
          </div>
            </div>
        </div>
      </div>
  </div>
</template>
