<template name="resumenFacturacion">
  <!-- Menu -->
    <div class="franja-progreso">
        <div class="progreso">
            <p>
                {{email}}
                <i class="glyphicon glyphicon-chevron-right" style="color: #2c3e50"> </i>
                <a href="/clientes2" > Facturación</a>
            </p>
        </div>
    </div>

    <div class="franja-filtros" style="padding-left: 4px;">

        <a href="/dashboard2" class="menu-asunto-aim" style="margin-left: 0px;">
            Actividad
        </a>
        <a href="/calendario2" class="menu-asunto-aim " style="margin-left: 0px;">
            Calendario
        </a>
        <a href="/tareas" class="menu-asunto-aim " style="margin-left: 0px;">
            Tareas
        </a>
        <a href="/equipo" class="menu-asunto-aim ">
            Equipo
        </a>
        <a href="/asuntos2" class="menu-asunto-aim" style="margin-left: 0px;">
            Asuntos
        </a>
        <a href="/clientes2" class="menu-asunto-aim " style="margin-left: 0px;">
            CRM
        </a>
        <a href="/facturacion" class="menu-asunto-aim asunto-item-activo" style="margin-left: 0px;">
            Facturación
        </a>
    </div>

      <div class="franja-filtros" style="margin-bottom: 2.5px;">
    <a href="/facturacion" class="menu-asunto-aim asunto-item-activo">
      Resúmen
    </a>
    <a href="/facturacion/horas" class="menu-asunto-aim" style="margin-left: 0px;">
      Horas
    </a>
    <a href="/facturacion/gastos" class="menu-asunto-aim" style="margin-left: 10px;">
      Gastos
    </a>
    <a href="/facturacion/cobros" class="menu-asunto-aim" style="margin-left: 10px;">
      Cobros
    </a>
    <a href="/facturacion/reportes" class="menu-asunto-aim" style="margin-left: 10px;">
      Reportes
    </a>
    <a href="/facturacion/configuracion-facturacion" class="menu-asunto-aim" style="margin-left: 10px;">
      Configuración
    </a>
  </div>

    <div class="box">

      {{> charts}}
      {{>resumenHorasPersonal}}
    </div>

</template>

<template name="resumenHorasPersonal">
	<div class="cuadro-pie" style="display: inline-block; width: 33.6%; min-height: 450px; background-color: white; border-radius: 5px; text-align: center; margin-left: 30px;">
    	<h3 style="color: #34495e; margin-top: 25px; margin-bottom: 20px;">Resúmen personal</h3>

		 <select name="rangos" class="select-bunqr">
             <option value="dia">Dia</option>
                <option value="semana">Semanal</option>
                <option value="mes">Mensual</option>
                <option value="año">Anual</option>
         </select>
    <br>
    <canvas id="pieChartHoras" width="200" height="200"></canvas>
    <br>
	<div class="lista-asuntos-reporte">
		<h3 class="total">Tiempo total <span class="hora">{{total}} h </span></h3>
        {{#each horas}}
		      <h4><span class="circulo-asunto"></span>{{this.label}}<span class="hora" style="margin-left: 20px;">{{this.value}} h</span></h4>
        {{/each}}
	</div>
  </div>
</template>
