
<template name="resumenFacturacion">
  <!-- Menu -->
    <div class="franja-progreso">
        <div class="progreso">
            <p>
                {{email}}
                <i class="glyphicon glyphicon-chevron-right" style="color: #2c3e50"> </i>
                <a href="/facturacion" > Facturación</a>
            </p>
        </div>
    </div>

    <div class="franja-filtros" style="padding-left: 4px;">

        <a href="/dashboard2" class="menu-asunto-aim" style="margin-left: 0px;">
            Actividad
        </a>
        <a href="/calendario2" class="menu-asunto-aim " style="margin-left: 0px;">
            Calendario
        </a>
        <a href="/tareas" class="menu-asunto-aim " style="margin-left: 0px;">
            Tareas
        </a>
        <a href="/equipo" class="menu-asunto-aim ">
            Equipo
        </a>
        <a href="/asuntos2" class="menu-asunto-aim" style="margin-left: 0px;">
            Asuntos
        </a>
        <a href="/clientes2" class="menu-asunto-aim " style="margin-left: 0px;">
            CRM
        </a>
        <a href="/facturacion" class="menu-asunto-aim asunto-item-activo" style="margin-left: 0px;">
            Facturación
        </a>
    </div>

      <div class="franja-filtros" style="margin-bottom: 0px;">
    <a href="/facturacion" class="menu-asunto-aim asunto-item-activo">
      Resúmen
    </a>
    <a href="/facturacion/horas" class="menu-asunto-aim" style="margin-left: 0px;">
      Horas
    </a>
    <a href="/facturacion/gastos" class="menu-asunto-aim" style="margin-left: 10px;">
      Gastos
    </a>
   <a href="/facturacion/cobros" class="menu-asunto-aim" style="margin-left: 10px;">
      Cobros
    </a>

    <a href="/facturacion/configuracion-facturacion" class="menu-asunto-aim" style="margin-left: 10px;">
      Configuración
    </a>
  </div>


    {{>resumenDatosFacturacion}}




</template>



<template name="gastosChart">
  <div  style="display: inline-block; width: 96%; min-height: 350px; background-color: white; border-radius: 5px; text-align: center; margin-left: 0px;">
    <h4 style="color: #34495e; font-size: 24px; margin-top: 25px; margin-bottom: 20px; font-weight: bold; text-transform: uppercase; text-align: center;">Gastos Administrativos</h4>
    <!-- <select name="rangos" class="select-bunqr">
    	<option value="semana">Rango de tiempo semanal</option>
    	<option value="semana">Rango de tiempo mensual</option>
    	<option value="semana">Rango de tiempo anual</option>
    </select> -->
    <br>
    <canvas id="gastosChart"></canvas>
    <div id="legendDivGastos"></div>
  </div>
  <br>
</template>

<template name="resumenDatosFacturacion">
  <div class="franja-filtros">
    {{> menuBotonesFacturacion}}
  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="box-white">
           {{> horaMiembrosChart}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="box-white">
          {{>resumenHorasPersonal}}
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12 col-sm-12">
        <div class="box-white">
          {{> gastosChart}}
        </div>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-12">
        <div class="box-white">
            {{>resumenGastos}}
        </div>
      </div>
    </div>
  </div>

  <!--<div class="reportes-facturacion">
    <div class="fila">

      {{>resumenGastos}}



      <div class="columna" id="sin-padding">

        {{>ultimosGastos}}

      </div>

      <div class="columna" id="sin-padding" style="min-height: 200px; border-bottom: none;">
        <div class="cuadro-total">
          {{>resumenHorasPersonal}}
        </div>
      </div>

    </div>
     <div class="fila" style="width: 66.65%;">
        <div style="width: 100%; min-height: 400px; border: 1px solid #f1f1f1; border-right-width: 2px;">
          {{> gastosChart}}
        </div>
      </div>
      <div class="fila" style="width: 66.65%;">
         <div style="width: 100%; min-height: 400px; border: 1px solid #f1f1f1; border-right-width: 2px;">
           {{> horaMiembrosChart}}
         </div>

       </div>


  </div> -->
</template>


<template name="horaMiembrosChart">
    <div  style="display: inline-block; width: 100%; min-height: 350px; background-color: white; border-radius: 5px; text-align: center; margin-left: 0px;">
      <h4 style="color: #34495e; font-size: 24px; margin-top: 25px; margin-bottom: 20px; font-weight: bold; text-transform: uppercase;">Trabajos de la firma</h4>
      <br>
      <canvas id="horasMiembrosChart" width="625" height="300"></canvas>
      <div id="legendDivhorasmiembros"></div>
    </div>
</template>

<template name="resumenGastos">

    <h3 style="font-size: 19px;">Gastos Administrativos</h3>
    <h1 style="margin: 0; font-size: 47.5px;">S/ {{gastos}}</h1>

</template>

<template name="ultimosGastos">
    <div class="fila-cuadro-2">
          <h4>Ultimos gastos ingresados</h4>
          {{#each gastos}}
          <div class="columna-cuadro-2">
            <p>{{this.descripcion}} <i class="fa fa-long-arrow-right" aria-hidden="true" style="color: #3498db;"></i> S/ {{this.monto}} </p>
          </div>
          {{/each}}
        </div>
</template>

<template name="resumenHorasPersonal">
	<div style="text-align: center;">
    	<h3 style="color: #34495e; margin-top: 25px; margin-bottom: 20px; margin-top: 20px; font-weight: bold; text-transform: uppercase;">Resúmen personal</h3>

		 <select name="rangos" class="select-bunqr">
             <option value="dia">Hoy</option>
                <option value="semana">Esta semana</option>
                <option value="mes">Este mes</option>
                <option value="año">Este año</option>

         </select>
    <br>
    <canvas id="pieChartHoras" width="200" height="200"></canvas>
    <br><br>
	<div class="lista-asuntos-reporte">
		<h3 class="total">Tiempo total <span class="hora">{{total}}</span></h3>
    <div class="table-wrapper">
    <table class="table">

      {{#if horas}}
      <tbody>
        {{#transition in="zoomIn" out="bounceOut"}}
            {{#each horas}}
              <tr>
                <td><span class="circulo-asunto" style="position: relative; top: 2.1px;"></span> {{this.nombre}}</td>
                <td>{{this.horas}}h {{this.minutos}}m </td>
              </tr>
            {{/each}}
        {{/transition}}
      </tbody>
      {{/if}}
    </table>
  </div>
	</div>
  </div>
</template>
