<template name="contactosCRM">
	
	<!-- Sub menu de crm incluye el boton nuevo y el buscador -->
	<div class="franja-filtros">
		{{>botonNuevosContactos}}
		{{>botonFiltroCRM}}
		<input type="text" class="buscador-bunqr buscador-contacto" placeholder="Busca a tu contactos por su nombre, ruc, dni, telefono, dirección, empresa, etc...">
	</div>
	
	{{>listaContactosCRM}}
	

</template>

<template name="listaContactosCRM">
	<div class="table-wrapper">

<table cellspacing="0" id="tech-companies">
	 <thead>
			<tr>
				 <th class="persist essential">
				 	<h3 >
				 		<i class="fa fa-user" aria-hidden="true"></i>
				 	</h3>
				 </th>
				 <th class="optional">
				 	<h3 style="text-align: center;">
				 		<i class="fa fa-building-o" aria-hidden="true"></i>
				 	</h3>
				 </th>
				 <th class="essential">
				 	<h3 style="text-align: center;">
				 		<i class="fa fa-briefcase" aria-hidden="true"></i>
				 	</h3>
				 </th>
				 <th class="essential">
				 	<h3 style="text-align: center;">
				 		<i class="fa fa-mobile" aria-hidden="true"></i>
				 	</h3>
				 </th>
				 <th>
				 	<h3 style="text-align: center;">
				 		<i class="fa fa-cog" aria-hidden="true"></i>
				 	</h3>
				 </th>
			</tr>
	 </thead>
	 <tbody>		
		
				<tr>
				 <th>
				 	
					<span class="fh-checkbox">
    					<input type="checkbox" id="dan" name="mycheckbox">
    					<label for="dan"> Dan Bilzerian </label>
					</span>
				 <span class="co-name">
						Grupo DDV SAC
				
					
				 </span></th>
				 <td>
				 	<h5 style="text-align: center; font-size: 14px; color: #34495e;">
				 		10770956377	
				 	</h5>
					
					
				 </td>
				 <td>
					<span class="asunto-tipo" style="background-color: #3498db; margin: 0 auto;">Prospecto</span>
				 </td>

				 <td>
				 	<h5 style="text-align: center; font-size: 14px; color: #34495e;">
				 		985698624
				 	</h5>
							
				 </td>
				 <td>
				 	<h3 style="text-align: center;">
				 		<div class="btn-group">

  <button type="button" class="btn dropdown-toggle" style="background-color: white; padding: 0; color: #34495e;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="glyphicon glyphicon-option-vertical"></i> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">

    <li class="editar-asunto"><a style="color: #3498db;">Editar</a></li>
    <li role="separator" class="divider"></li>

            <li class="cerrar-asunto"><a data-id="#" style="color: #e74c3c;">Eliminar</a></li>

  </ul>
		</div>
				 	</h3>
				 	
				 </td>

			</tr>
		
	 </tbody>
</table>

</div><!-- /table-wrapper -->
</template>

<template name="botonFiltroCRM">
	
	<div class="btn-group">
  		<button type="button" class="btn dropdown-toggle  nueva-tarea azul-flat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 22px; width: 90px; border-bottom: none; margin-top: 15px; background-color: white; color: #34495e;">
   					<i class="fa fa-filter" aria-hidden="true"></i> <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu">
			<li class="persona"> <a href="#">Personas</a> </li>
    		<li class="persona"><a href="#">Empresas</a></li>
    		<li class="divider"></li>
            <li class="empresa"><a href="#">Contactos</a></li>
            <li class="empresa"><a href="#">Prospectos</a></li>
            <li class="empresa"><a href="#">Clientes</a></li>
  		</ul>
    </div>
</template>