<template name="menuCRM">
	<div class="franja-filtros" style="padding-left: 14px;">
		<a href="/clientes2" class="menu-asunto-aim asunto-item-activo">
			Resúmen
		</a>
		<a href="/clientes2/contactos" class="menu-asunto-aim " style="margin-left: 0px;">
			Contactos
		</a>
		<a href="/clientes2/empresas" class="menu-asunto-aim " style="margin-left: 0px;">
			Empresas
		</a>
		<a href="/clientes2/negociaciones" class="menu-asunto-aim" style="margin-left: 10px;">
			Negociaciones
		</a>

	</div>
</template>

<template name="menuContactosCRM">
	<div class="franja-filtros" style="padding-left: 14px;">
		<a href="/clientes2" class="menu-asunto-aim">
			Resúmen
		</a>
		<a href="/clientes2/contactos" class="menu-asunto-aim asunto-item-activo" style="margin-left: 0px;">
			Contactos
		</a>
		<a href="/clientes2/empresas" class="menu-asunto-aim " style="margin-left: 0px;">
			Empresas
		</a>
		<a href="/clientes2/negociaciones" class="menu-asunto-aim" style="margin-left: 10px;">
			Negociaciones
		</a>

	</div>
</template>

<template name="menuEmpresasCRM">
	<div class="franja-filtros" style="padding-left: 14px;">
		<a href="/clientes2" class="menu-asunto-aim">
			Resúmen
		</a>
		<a href="/clientes2/contactos" class="menu-asunto-aim " style="margin-left: 0px;">
			Contactos
		</a>
		<a href="/clientes2/empresas" class="menu-asunto-aim asunto-item-activo" style="margin-left: 0px;">
			Empresas
		</a>
		<a href="/clientes2/negociaciones" class="menu-asunto-aim" style="margin-left: 10px;">
			Negociaciones
		</a>

	</div>
</template>


<template name="menuNegociacionesCRM">
	<div class="franja-filtros" style="padding-left: 14px;">
		<a href="/clientes2" class="menu-asunto-aim">
			Resúmen
		</a>
		<a href="/clientes2/contactos" class="menu-asunto-aim" style="margin-left: 0px;">
			Contactos
		</a>
		<a href="/clientes2/empresas" class="menu-asunto-aim " style="margin-left: 0px;">
			Empresas
		</a>
		<a href="/clientes2/negociaciones" class="menu-asunto-aim asunto-item-activo" style="margin-left: 10px;">
			Negociaciones
		</a>

	</div>
</template>
