<template name="menuCRM">
	<div class="franja-filtros">
		<a href="/clientes2" class="menu-asunto-aim asunto-item-activo">
			Resúmen
		</a>
		<a href="/clientes2/contactos" class="menu-asunto-aim " style="margin-left: 0px;">
			Contactos
		</a>
		<a href="/clientes2/negociaciones" class="menu-asunto-aim" style="margin-left: 10px;">
			Negociaciones
		</a>
    	<a href="/clientes2/tareas" class="menu-asunto-aim" style="margin-left: 10px;">
      		Tareas
    	</a>
    	<a href="/clientes2/campanias" class="menu-asunto-aim" style="margin-left: 10px;">
      		Campañas
    	</a>
	</div>
</template>

<template name="menuContactosCRM">
	<div class="franja-filtros">
		<a href="/clientes2" class="menu-asunto-aim">
			Resúmen
		</a>
		<a href="/clientes2/contactos" class="menu-asunto-aim asunto-item-activo" style="margin-left: 0px;">
			Contactos
		</a>
		<a href="/clientes2/negociaciones" class="menu-asunto-aim" style="margin-left: 10px;">
			Negociaciones
		</a>
    	<a href="/clientes2/tareas" class="menu-asunto-aim" style="margin-left: 10px;">
      		Tareas
    	</a>
    	<a href="/clientes2/campanias" class="menu-asunto-aim" style="margin-left: 10px;">
      		Campañas
    	</a>
	</div>
</template>

<template name="menuNegociacionesCRM">
	<div class="franja-filtros">
		<a href="/clientes2" class="menu-asunto-aim">
			Resúmen
		</a>
		<a href="/clientes2/contactos" class="menu-asunto-aim" style="margin-left: 0px;">
			Contactos
		</a>
		<a href="/clientes2/negociaciones" class="menu-asunto-aim asunto-item-activo" style="margin-left: 10px;">
			Negociaciones
		</a>
    	<a href="/clientes2/tareas" class="menu-asunto-aim" style="margin-left: 10px;">
      		Tareas
    	</a>
    	<a href="/clientes2/campanias" class="menu-asunto-aim" style="margin-left: 10px;">
      		Campañas
    	</a>
	</div>
</template>