<template name="negociacionesCRM">
	<!-- Sub menu de crm incluye el boton nuevo y el buscador -->
	<div class="franja-filtros">
		{{>botonNuevosContactos}}
		{{>botonFiltroNegociacionesCRM}}
		<input type="text" class="buscador-bunqr buscador-contacto" placeholder="Busca negociaciones por nombre, contacto, estado, asignado, etc...">
	</div>
	{{>listaNegociacionesCRM}}
</template>


<template name="listaNegociacionesCRM">
	<div class="table-wrapper">

<table cellspacing="0" id="tech-companies">
	 <thead>
			<tr>
				 <th class="persist essential">
				 	<h3 >
				 		<i class="fa fa-money" aria-hidden="true"></i>
				 	</h3>
				 </th>
				 <th class="optional">
				 	<h3 style="text-align: center;">
				 		<i class="fa fa-user" aria-hidden="true"></i>
				 	</h3>
				 </th>
				 <th class="essential">
				 	<h3 style="text-align: center;">
				 		<i class="fa fa-briefcase" aria-hidden="true"></i>
				 	</h3>
				 </th>
				<th class="essential">
				 	<h3 style="text-align: center;">
				 		<i class="fa fa-calendar" aria-hidden="true"></i>
				 	</h3>
				 </th>
				 <th>
				 	<h3 style="text-align: center;">
				 		<i class="fa fa-cog" aria-hidden="true"></i>
				 	</h3>
				 </th>
			</tr>
	 </thead>
	 <tbody>		
		
				<tr>
				 <th>
				 	
					<span class="fh-checkbox">
    					<input type="checkbox" id="dan" name="mycheckbox">
    					<label for="dan"> Terminos y condiciones </label>
					</span>
				 	<span class="co-name">
						<span style="color: #58BB58;"><i class="fa fa-glass" aria-hidden="true"></i> 1,200.00 $</span>
				
					
				 	</span>
				 </th>
				 <td>
				 	<h5 style="text-align: center; font-size: 14px; color: #34495e;">
				 		Dan Bilzerian
				 	</h5>		
				 </td>
				 <td>
					<span class="asunto-tipo" style="background-color: #2ecc71; margin: 0 auto;">Ganado</span>
				 </td>
				
				<td>
				 	<h5 style="text-align: center; font-size: 14px; color: #34495e;">
				 		Actualiado el 21 de junio, 20:30 pm
				 	</h5>		
				 </td>
				 
				 <td>
				 	<h3 style="text-align: center;">
				 		<div class="btn-group">

  <button type="button" class="btn dropdown-toggle" style="background-color: white; padding: 0; color: #34495e;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="glyphicon glyphicon-option-vertical"></i> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">

    <li class="editar-asunto"><a style="color: #3498db;">Editar</a></li>
    <li role="separator" class="divider"></li>

            <li class="cerrar-asunto"><a data-id="#" style="color: #e74c3c;">Eliminar</a></li>

  </ul>
		</div>
				 	</h3>
				 	
				 </td>

			</tr>
		
	 </tbody>
</table>

</div><!-- /table-wrapper -->
</template>


<template name="botonFiltroNegociacionesCRM">
	
	<div class="btn-group">
  		<button type="button" class="btn dropdown-toggle  nueva-tarea azul-flat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 22px; width: 90px; border-bottom: none; margin-top: 15px; background-color: white; color: #34495e;">
   					<i class="fa fa-filter" aria-hidden="true"></i> <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu">
            <li class="empresa"><a href="#" style="color: #9b59b6;">En ejecución</a></li>
            <li class="empresa"><a href="#" style="color: #2ecc71;">Ganadas</a></li>
            <li class="empresa"><a href="#" style="color: #e74c3c;">Perdidas</a></li>
  		</ul>
    </div>
</template>