.modal-content  {
    -webkit-border-radius: 4.5px !important;
    -moz-border-radius: 4.5px !important;
    border-radius: 4.5px !important;
}

.modal-formulario {
	display: flex;
	flex-wrap: wrap;
}

.side-help {
	width: 23%;
}

.contenido-formulario {
	width: 77%;
	background-color: #FFFFFF;
	overflow-y: scroll;
	overflow-x: hidden;
}

.about-asunto {
	min-height: 185.5px;
	padding: 20px;
	padding-top: 55px;
	padding-bottom: 5px;
}

.about-asunto > h3 {
	color: #34495e;
	font-weight: initial;
	font-size: 18.5px;
	margin-bottom: 5px;
}

.about-asunto > h2 {
	text-align: center;
	color: white;
	font-weight: initial;
	font-size: 22.5px;
	text-transform: uppercase;
	margin-top: 0px;
}

.about-asunto > p {
	color: #A8A8A8;
	font-size: 1.3rem;
	font-weight: initial;
}

.about-asunto > ul {
	padding-left: 0px;
}

.about-asunto > ul > li {
	color: white;
}

.fondo-bunqr {
	background-color: #34495e;
}

.fondo-ayuda {
	background-color: #F2F2F2;
}

.color-bunqr {
	color: #2c3e50;
}

a.color-bunqr {
	font-weight: initial;
	border-bottom: 1px dotted #AAA;
}

a.color-bunqr:hover {
	cursor: help;
}

.modal-dialog {
	border-radius: 5px !important;
}

.cuadro-datos-asunto {
	width: 98%;
	min-height: 70px;
	padding: 25px;
	padding-top: 5px;
	padding-bottom: 0px;
}

.cuadro-datos-asunto > h1 {
	font-weight: initial;
	font-size: 2.3rem;
	margin-top: 15.5px;
}

.medio-ancho {
	width: 48%;
	display: inline-block;
	margin-top: 8px;
}

.completo-ancho {
	width: 100%;
	display: inline-block;
	margin-top: 8px;
}

.completo-ancho > label {
	text-transform: uppercase;
	color: #95a5a6;
	font-weight: bold;
	font-size: 10px;

}

.completo-ancho > input ,select {
	border: 2px solid #e5e5e5;
	display: block;
	width: 95%;
	height: 45px;
	margin-bottom: 5px;
	padding-left: 15px;
	font-weight: initial;
	background-color: white;
  -webkit-appearance:none;
  border-radius: 0px;
	-webkit-transition: border-color 0.4s ease-out;
    -moz-transition: border-color 0.4s ease-out;
    -o-transition: border-color 0.4s ease-out;
    transition: border-color 0.4s ease-out;
}

.completo-ancho > input:focus, select:focus {
	border: 2px solid #2ecc71;
}

.completo-ancho > input:hover, select:hover {
	border: 2px solid #2ecc71;

}

.medio-ancho > label {
	text-transform: uppercase;
	color: #95a5a6;
	font-weight: bold;
	font-size: 10px;

}

.medio-ancho > input, select {
	border: 2px solid #e5e5e5;
	display: block;
	background-color: white;
	width: 95%;
	height: 45px;
	margin-bottom: 5px;
	padding-left: 15px;
	font-weight: initial;
  -webkit-appearance:none;
  border-radius: 0px;
	-webkit-transition: border-color 0.4s ease-out;
    -moz-transition: border-color 0.4s ease-out;
    -o-transition: border-color 0.4s ease-out;
    transition: border-color 0.4s ease-out;
}

.medio-ancho > input:focus, select:focus {
	border: 2px solid #2ecc71;
}

.medio-ancho > input:hover, select:hover {
	border: 2px solid #2ecc71;
}
.cuadro-datos-asunto > input[type="button"] {

	background-color: white;
	border: 2px solid #2ecc71;
	display: inline-block;
	color: #2ecc71;

	float: right;
	width: 30%;
	height: 42.5px;
	margin-top: 10px;
	margin-right: 50px;



	font-size: 12.5px;

	text-align: center;
	text-transform: uppercase;

	padding-top: 5.5px;

	-webkit-transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
}

.cuadro-datos-asunto > input[type="button"]:hover {
	background-color: #2ecc71;
	color: white;
}
