.select-bunqr {
	display: inline-block;
	background-color: white;
	border: 1px solid #EFEFEF;
	padding: 10px;
	width: 243px;
	height: 50px;
	margin-bottom: 25px;
	box-shadow: 0 2px 5px rgba(77, 77, 77, 0.19);
}

.lista-asuntos-reporte {
	width: 100%;
	min-height: 30px;
}

.lista-asuntos-reporte > h2 {
	font-family: 'Open Sans', 'Sans Serif';
	color: #34495e;
	display: inline-block;
	text-transform: uppercase;
}

.lista-asuntos-reporte > h3.total {
	font-family: 'Open Sans', 'Sans Serif';
	color: #34495e;
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.lista-asuntos-reporte > h4 {
	border-top: 1px solid #EFEFEF;
	text-align: left;
	padding-left: 25px;
	padding-top: 5px;
	height: 30px;

}

.hora {
	display: inline-block;
	margin-left: 30px;
	float: right;
	margin-right: 10px;
}

.circulo-asunto {
	display: inline-block;
	background-color: #3498db;
	width: 15px;
	height: 15px;
	border-radius: 70%;
	margin-right: 10px;
	padding-top: 3px;
}

.circulo-asunto:hover {
	cursor: pointer;
}

.boton-outline {
	border: 0.7px solid #34495e;
	border-radius: 3px;
	width: 30%;
	height: 22px;
	padding: 2px;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 15px;
	text-transform: uppercase;


}

.boton-outline:hover {
	background-color: #34495e;
	color: white;
	cursor: pointer;
}

.cursor:hover {
	cursor: pointer;
}

.reporte-facturacion {

}

.fila {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 125px;
	background: white;
}

.columna {
	width: 33.3%;
	min-height: 125px;
	background: white;
	border: 1px solid #F1F1F1;
	padding-left: 20px;
	padding-top: 35px;
}

.columna > h4 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #34495e;
}

.columna > p {
	color: #7f8c8d;
}

.fila-cuadro {
	width: 100%;
}

.columna-cuadro {
	width: 49.3%;
	border: none;
	min-height: 55px;
	display: inline-block;
	margin: 0;
	background: white;
	padding: 20px;
}

.fuera-fecha {
	color: #e74c3c;
}

#sin-padding {
	padding: 0;
}

.cuadro-total {
	width: 100%;
	height: 200px;
	padding-top: 20px;
	text-transform: uppercase;

}

.cuadro-total > h3 {
	font-size: 16px;
	text-align: left;
	margin-left: 20px;
	font-weight: bold;
}

.cuadro-total > p {
	margin-left: 20px;
}

.fila-cuadro-2 {
	width: 100%;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 20px;
}

.columna-cuadro-2 {
	width: 100%;
	height: 25px;
	margin-bottom: 12.5px;
}

.columna-cuadro-2 > h5 {
	display: inline-block;
	margin-bottom: 30px;
}
