.input-tarifa {
	border: 1px dashed #34495e;
	padding-left: 10px;
	background: white;
	-webkit-transition: border-color 0.4s ease-out;
    -moz-transition: border-color 0.4s ease-out;
    -o-transition: border-color 0.4s ease-out;
    transition: border-color 0.4s ease-out;
}

.input-tarifa:hover, .input-tarifa:focus {
	border-color: #2c3e50;
}

.input-tarifa:disabled {
	background-color: white;
	border: none;
}