<template name="asuntoNuevoModal">
	<div class="modal fade" tabindex="-1" role="dialog">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">

      			<div class="modal-body" style="padding: 0px; background-color: #F2F2F2;">

        			<div class="modal-formulario">
						<div class="side-help">
							<div class="about-asunto fondo-bunqr" style="height: 230px;">
								<h2>
									Asuntos
								</h2>
								<p style="color: white;">Crea asuntos para organizar a tu equipo, sus tareas, su calendario, archivos y los datos de facturación. Todo es un solo lugar.</p>

							</div>
							<div class="about-asunto fondo-ayuda" style="height: 245px; padding-top: 55px;">
								<h3>
									¿Necesitas ayuda?
								</h3>
								<p>
									Haz click <a href="#" data-elevio-article="75102" class="color-bunqr">aquí</a> para ver un tutorial. También, puedes contactarnos a <a href="#" class="color-bunqr">daniel@grupoddv.com</a>
								</p>
							</div>
						</div>

						<div class="contenido-formulario" style="height: 480px;">
							<div class="cuadro-datos-asunto">
								<h1 class="color-bunqr">Información básica</h1>
								<hr>
								<div class="formulario-bunqr">
									<div class="medio-ancho">
										<label for="asunto">Nombre del asunto*</label>
										<input type="text" name="caratula">
									</div>
									<div class="medio-ancho">
										<label for="cliente">Nombre del cliente*</label>
										<select class="cliente" id="sel1">
                                            {{#each clientes}}
                                                <option value="{{this._id}}">{{this.nombre}} {{this.apellido}}</option>
                                            {{/each}}
                                        </select>
									</div>

									<div class="medio-ancho">
										<label for="responsable">Responsable del asunto*</label>
										<select class="responsable">
					                       {{#each miembros}}
										   		{{#if elusuario}}
					                        		<option value="{{this._id}}" checked>Yo</option>
												{{else}}
													<option value="{{this._id}}">{{this.profile.nombre}} {{this.profile.apellido}}</option>
												{{/if}}
					                        {{/each}}
		                        		</select>
									</div>
									<div class="medio-ancho">
										<label for="">WorkFlow</label>
										<select class="" name="workflow">
											<option value="">Asocie un workflow</option>
											{{#each workflows}}
												<option value="{{this._id}}">{{this.nombre}}</option>
											{{/each}}
										</select>
									</div>
									<div class="medio-ancho">
										<label for="responsable">Tipo de cobro*</label>
										<select type="text" name="forma-cobro" aria-describedby="basic-addon1">
  										  <option value="horas hombre">Horas hombre</option>
  										  <option value="flat fee">Flat fee</option>
  										  <option value="retainer">Retainer</option>
										 
										</select>
									</div>
									<div class="tarifa-campo cobro">
										<div class="medio-ancho">
											<label for="responsable" class="mayuscula estilo-label">Tarifa a aplicar*</label>
											<select type="text" name="tarifa-h" aria-describedby="basic-addon1">
												{{#each tarifas}}
												<option value="{{this._id}}">{{this.nombre}}</option>
												{{/each}}
											</select>
										</div>
										<div class="medio-ancho" style="padding-top: 20px;">
											<a style="display: inline-block; margin-right: 10px; font-weight: initial; font-family: 'Open Sans'; ">Soles</a>
											<input type="checkbox" id="unchecked-1" class="cbx tipo-cambio-hh hidden"/>
											<label for="unchecked-1" class="lbl"></label>
											<a style="display:inline-block; margin-left: 10px; font-weight: initial; font-family: 'Open Sans'; ">Dólares</a>
										</div>
									</div>
									<div class="flatfee-campo cobro hide">
										<div class="medio-ancho">
											<label for="montogeneral" class="mayuscula estilo-label">Monto a cobrar*</label>
											<input class="input-general" type="number" name="montogeneral" value="" min="1" step="0.1">
										</div>
										<div class="medio-ancho" style="padding-top: 20px;">
											<a style="display: inline-block; margin-right: 10px; font-weight: initial; font-family: 'Open Sans'; ">Soles</a>
											<input type="checkbox" id="unchecked" class="cbx tipo-cambio-f hidden"/>
											<label for="unchecked" class="lbl"></label>
											<a style="display:inline-block; margin-left: 10px; font-weight: initial; font-family: 'Open Sans'; ">Dólares</a>
										</div>
									</div>

									<div class="retainer-campo cobro hide">
										<div class="medio-ancho">
											<label for="montogeneral" class="mayuscula estilo-label">Monto a cobrar*</label>
											<input class="input-general" placeholder="" type="number" name="monto_cobro" value="" min="1" step="0.1">
										</div>
										<div class="medio-ancho" style="padding-top: 20px;">
											<a style="display: inline-block; margin-right: 10px; font-weight: initial; font-family: 'Open Sans'; ">Soles</a>
											<input type="checkbox" id="unchecked-2" class="cbx tipo-cambio-r hidden"/>
											<label for="unchecked-2" class="lbl"></label>
											<a style="display:inline-block; margin-left: 10px; font-weight: initial; font-family: 'Open Sans'; ">Dólares</a>
										</div>
										<div class="medio-ancho">
											<label for="montogeneral" class="mayuscula estilo-label">Maximo de horas*</label>
											<input class="input-general" type="number" name="maximo_horas" value="">
										</div>
										<div class="medio-ancho">
											<label for="">Tarifa a aplicar*</label>
											<select type="text" name="tarifa-r" aria-describedby="basic-addon1">
												{{#each tarifas}}
												<option value="{{this._id}}">{{this.nombre}}</option>
												{{/each}}
											</select>
										</div>

									</div>
								</div>
							</div>
							<div class="cuadro-datos-asunto">
								<h1 class="color-bunqr"><a style="font-weight: initial;" data-toggle="collapse" href="#collapse0">Información de equipo</a></h1>
								<hr>
								<div id="collapse0"  class="formulario-bunqr panel-collapse collapse">
									<div class="completo-ancho">
										<label for="asunto">Equipo asignado*</label>
										<select class="responsable" name="equipo">
											<option value="">Todos</option>
										   {{#each equipos}}
												<option value="{{this._id}}">{{this.nombre}}</option>
											{{/each}}
										</select>
									</div>
								</div>
							</div>
							<div class="cuadro-datos-asunto">
								<h1 class="color-bunqr"><a style="font-weight: initial;" data-toggle="collapse" href="#collapse1">Datos de facturación</a></h1>
								<hr>
								<div id="collapse1"  class="formulario-bunqr panel-collapse collapse">
									<div class="medio-ancho">
										<label for="asunto">RUC del cliente</label>
										<input type="text" name="ruc" value="{{ruc_cliente}}">
									</div>
									<div class="medio-ancho">
										<label for="">Nombre del solicitante</label>
										<input type="text" name="nombre-solicitante" aria-describedby="basic-addon1" value="{{nombre_solicitante}}">
									</div>
									<div class="medio-ancho">
										<label for="numero">Email del solicitante</label>
										<input type="text" name="correo-solicitante" value="{{correo_solicitante}}">
									</div>
									<div class="medio-ancho">
										<label for="cliente">Dirección de facturación</label>
										<input type="text" name="direccion" value="{{direccion_facturacion}}" >
									</div>
									<div class="medio-ancho">
										<label for="numero">Número de teléfono</label>
										<input type="text" name="telefono-facturacion" value="{{telefono_facturacion}}">
									</div>
									<div class="medio-ancho">
										<label for="telefono-sol">Teléfono del solicitante</label>
										<input type="text" id="telefono-sol" name="telefono-solicitante" value="{{telefono_solicitante}}">
									</div>

									<div class="medio-ancho">
										<label for="co">Cobranza</label>
										<textarea name="cobranza" id="co" rows="8" cols="40" style="height: 42.5px; width: 40%;">{{cobranza}}</textarea>
									</div>
									<div class="medio-ancho">
										<label for="responsable">Tipo de descuento</label>
										<select type="text" name="tipo-descuento"  aria-describedby="basic-addon1">
  		  	  							  <option >Moneda</option>
  		  	  							  <option >Porcentaje</option>
  		  	  						  	</select>
										<!-- <input type="number" name="descuento" style="width: 47.5%; display: inline-block;"> -->
									</div>
									<div class="medio-ancho">
										<input type="text" name="valor-descuento" value="{{valor_descuento}}" aria-describedby="basic-addon1">
									</div>
									<div class="medio-ancho">
										<label for="responsable">Comentarios adicionales</label>
										<input type="text" name="detalle" value="{{comentario}}" >
									</div>

								</div>
							</div>

							<div class="cuadro-datos-asunto">
								<h1 class="color-bunqr"><a style="font-weight: initial;" data-toogle="collapse" href="#collapse2">Alertas de facturacion</a></h1>
								<hr>
								<div id="collapse2" class="formulario-bunqr ">
									<div class="medio-ancho">
										<label for="limitehora">Limite de horas</label>
										<input type="text" name="horas" id="limitehora" value="{{limite_horas}}" aria-describedby="basic-addon1">
									</div>
									<div class="medio-ancho">
										<label for="limitemonto">Limite de monto</label>
										<input type="text" name="monto" id="limitemonto" value="{{limite_monto}}" aria-describedby="basic-addon1">
									</div>
									<div class="medio-ancho">
										<label for="limitenocobradas">Horas no cobradas</label>
										<input id="limitenocobradas" type="text" name="horas-no-cobradas" value="{{horas_no_cobradas}}" aria-describedby="basic-addon1">
									</div>
									<div class="medio-ancho">
										<label for="montonocobradas">Monto de horas no cobradas</label>
										<input type="text" name="monto-horas-no-cobradas" id="montonocobradas" value="{{monto_horas_no_cobradas}}" aria-describedby="basic-addon1">
									</div>
								</div>
							</div>
							<div class="cuadro-datos-asunto">
								<h1 class="color-bunqr"><a style="font-weight: initial;" data-toggle="collapse" href="#collapse3">
									Agregar información
								</a></h1>
								<hr>
								<div id="collapse3" class="formulario-bunqr panel-collapse collapse">
									<br>
									<div class="medio-ancho">
										<label for="numero">Número del asunto</label>
										<input type="text" name="carpeta">
									</div>
									<div class="medio-ancho">
										<label for="juzgado">Juzgado</label>
										<input type="text" id="juzgado" name="juzgado" aria-describedby="basic-addon1">
									</div>
									
									<br>
								</div>
							</div>
						</div>
						<div class="cuadro-datos-asunto" style="height: 100px; width: 76.5%; position: relative; left: 208px; background-color: white; height: 75px; border-top: 2px solid #F2F2F2;">
							<input class="agregar-asunto" type="button" value="Crear asunto">
						</div>
					</div>
      			</div>
    		</div>
  		</div>
	</div>
</template>
