<template name="AsuntoNuevoModal">
	<div class="modal fade" tabindex="-1" role="dialog">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
     	 
      			<div class="modal-body" style="padding: 0px; background-color: #F2F2F2;">
        			
        			<div class="modal-formulario">
						<div class="side-help">
							<div class="about-asunto fondo-bunqr" style="height: 230px;">
								<h2>
									Asuntos
								</h2>
								<p style="color: white;">Crea asuntos para organizar a tu equipo, sus tareas, su calendario, archivos y los datos de facturación. Todo es un solo lugar.</p>

							</div>
							<div class="about-asunto fondo-ayuda" style="height: 245px; padding-top: 55px;">
								<h3>
									¿Necesitas ayuda?
								</h3>
								<p>
									Haz click <a href="#" data-elevio-module="articles" class="color-bunqr">aquí</a> para ver un tutorial. También, puedes contactarnos a <a href="#" class="color-bunqr">soporte@grupoddv.com</a>
								</p>
							</div>	
						</div>

						<div class="contenido-formulario" style="height: 480px;">
							<div class="cuadro-datos-asunto">
								<h1 class="color-bunqr">Información básica</h1>
								<hr>
								<div class="formulario-bunqr">
									<div class="medio-ancho">
										<label for="asunto">¿Cómo se llamará el asunto?*</label>
										<input type="text" name="asunto">	
									</div>
									<div class="medio-ancho">
										<label for="cliente">¿Con que cliente está relacionado?*</label>
										<input type="text" name="cliente">	
									</div>
									
									<div class="medio-ancho">
										<label for="numero">¿Cúal es el número de este asunto?</label>
										<input type="text" name="numero">
									</div>
									
									<div class="medio-ancho">
										<label for="responsable">¿Quién será el responsable de este asunto?*</label>
										<input type="text" name="responsable" value="Yo">
									</div>
									
									
								</div>
							</div>
							<div class="cuadro-datos-asunto">
								<h1 class="color-bunqr">Información de equipo</h1>
								<hr>
								<div class="formulario-bunqr">
									<div class="completo-ancho">
										<label for="asunto">¿Que equipo trabajara en este asunto?*</label>
										<select name="equipo">
											<option value="todos">Todo el equipo</option>
										</select>	
									</div>
									
								</div>
							</div>
							<div class="cuadro-datos-asunto">
								<h1 class="color-bunqr">Datos de facturación</h1>
								<hr>
								<div class="formulario-bunqr">
									<div class="medio-ancho">
										<label for="asunto">¿Cuál es el RUC del cliente?</label>
										<input type="text" name="ruc">	
									</div>
									<div class="medio-ancho">
										<label for="cliente">¿A que dirección vas a facturar este asunto?</label>
										<input type="text" name="direccion">	
									</div>
									
									<div class="medio-ancho">
										<label for="numero">¿Cúal es el número de teléfono?</label>
										<input type="text" name="telefono">
									</div>
									
									<div class="medio-ancho">
										<label for="responsable">¿Que tarifa aplicaras a este asunto?</label>
										<input type="text" name="tarifa">
									</div>

									<div class="medio-ancho">
										<label for="responsable">¿Como vas a cobrar este asunto?</label>
										<input type="text" name="forma-cbro">
									</div>
									
									<div class="medio-ancho">
										<label for="responsable">¿Con que tipo de moneda facturaras el asunto?</label>
										<input type="text" name="tipo-moneda">
									</div>

									<div class="medio-ancho">
										<label for="responsable">¿Que tipo de descuento te gustaría aplicar?</label>
										<input type="text" name="descuento" style="width: 47.5%; display: inline-block;">
										<input type="number" name="descuento" style="width: 47.5%; display: inline-block;">
									</div>
									
									<div class="medio-ancho">
										<label for="responsable">¿Algún comentario que agregar?</label>
										<input type="text" name="detalle">
									</div>

								</div>
							</div>
							
						</div>
						<div class="cuadro-datos-asunto" style="height: 100px; width: 76.5%; position: relative; left: 208px; background-color: white; height: 75px; border-top: 2px solid #F2F2F2;">
								
								<input type="button" value="Crear asunto">
						</div>
					</div>

      			</div>
      
    		</div>
  		</div>
	</div>
</template>