<template name="menu">
 <script>
<!--var _elev = window._elev || {};(function() {var i,e;i=document.createElement("script"),i.type='text/javascript';i.async=1,i.src="https://static.elev.io/js/v3.js",e=document.getElementsByTagName("script")[0],e.parentNode.insertBefore(i,e);})();
_elev.account_id = '57b61ff36edb6'; -->
</script>

  <div class="navbar navbar-inverse menu navbar-fixed-top" id="custom-menu">
  <div class="container-fluid">
    <div class="navbar-header">


    		<a class="navbar-brand" id="marca">DDVLEX
        <span style="position: absolute; left: 182px; top: 28px; font-size: 12px;">&reg;</span>
        </a>
        <a class="abrir-menu rippler rippler-inverse" style="position: absolute; left: 230px; font-size: 25px; display: inline-block; width: 50px; height: 60px; padding-top: 11px; text-align: center;">
          <i class="fa fa-bars" aria-hidden="true" style="color: #34495e;"></i>
        </a>

        <a style="position: absolute; right: 291px; top: 0px; width: 50px; height: 60px; font-size: 25px; padding-top: 11px; color: #3a5269; text-align: center;" class=" rippler rippler-inverse abrir-news">
          <i class="fa fa-list-ul" aria-hidden="true"></i>
        </a>

        {{>cronometro2}}



  <nav class="cd-stretchy-nav e add-content">
    <a class="cd-nav-trigger" id="tour-9" href="#0">

      <span aria-hidden="true"></span>
    </a>

    <ul>
      <li><a class="y asunto-modal" style="font-size: 20px; text-align: center;"><i class="fa fa-folder-o" aria-hidden="true"></i></a></li>
      <li><a class="y modal-cliente" style="font-size: 20px; text-align: center;"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
      <li><a class="y" style="font-size: 20px; text-align: center;"><i class="fa fa-upload" aria-hidden="true"></i></a></li>
      <li><a class="y agregar-tarea" style="font-size: 20px; text-align: center;"><i class="fa fa-tasks" aria-hidden="true"></i></a></li>
    </ul>

    <span aria-hidden="true" class="stretchy-nav-bg"></span>
  </nav>


    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">

    <!--  <button class="btn-tour init-tour">¿Cómo funciona?</button> -->


      <ul class="nav navbar-nav navbar-right">

        {{#if tieneAcceso}}
        {{>cambio}}
        {{/if}}

      {{#with nombre}}
      <span class="rippler rippler-default" style="font-size: 16px;display: inline-block; border-radius: 70%; border: 1px solid #34495e; background-color: #34495e; width: 40px; height: 40px; color: white; font-weight: initial; padding-top: 8px; text-align: center; margin-top: 5px; margin-right: 20px;">{{getFirstLettersOfName profile.nombre profile.apellido}}</span>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="marca"  role="button" aria-haspopup="true" aria-expanded="false">
              Hola, {{profile.nombre}}
           <span class="caret"></span></a>
          <ul class="dropdown-menu" style="padding-bottom: 0;">
            <li><a>Mi cuenta</a></li>
            <li class="modal-cliente"><a>Agregar contacto</a></li>
            <li><a class="workflow-modal">Crear workflow</a></li>
            <li><a class="hora-modal">Agregar trabajo</a></li>
            <li><a class="tarifa-modal">Crear tarifa</a></li>
            <li role="separator" class="divider"></li>
            <li style="display: inline-block; width: 100%;"><a class="logout" style="color: #e74c3c; display: inline-block; text-align: center; width: 100%; padding-top: 5px; font-size: 18.5px;"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
          </ul>
        </li>

        {{/with}}


      </ul>

    </div>
  </div>
</div>
<div class="sidebar-vertical-derecho {{cerrar}}">
    <h5>Actividad</h5>
    <div class="wrapper">
        {{#each news}}
        <div class="post {{type this.tipo}}">
            <div class="post-inner">
            <span>{{quien}}</span>
            <p style="margin-bottom: 0;">{{descripcion}}</p>
            <span class="tiempo" style="color: #7f8c8d; font-weight: initial; font-size: 11.5px;">Hace {{sucedio this.createdAt}}</span>
            </div>
        </div>
        {{/each}}
    </div>

</div>
</template>

<template name="welcome">
  <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body" style="padding: 0px; background-color: #F2F2F2;">
              <h1>Bienvenido</h1>
            </div>
        </div>
      </div>
  </div>
</template>

<template name="gracias">
  <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body" style="padding: 0px;">
              <img src="/perfil.jpg">
              <h1>¿Te interesaría un tour personal gratis?</h1>
              <p>
                Me encantaría hacerte personalmente un tour online en base a tus necesidades. Son 10 minutos, compartiendo la pantalla, y por teléfono.
              </p>

              <p class="segundo-texto">
                Escribe tu número internacional y te llamo para ver que día te queda bien.
              </p>

              <div class="tour-foot">
                <form>
                  <input type="text" placeholder="Escribe tu teléfono" name="telefono">
                  <input type="submit" class="boton-telefono" value="¡Si!, quiero un Tour">
                </form>
              </div>
            </div>
        </div>
      </div>
  </div>
</template>

<template name="cambio">
  <i class="fa fa-usd simbolo" aria-hidden="true"></i>
  <input type="text" name="tipo-cambio" id="tour-0" class="cambio" value="{{valor}}">
</template>

<template name="cronometro2">
    <nav class="cd-stretchy-nav d add-content nav-is-visible" >
        <a class="cd-nav-trigger t g boton-play" id="tour-10"  style=" margin-top: 0;">
            <i class="glyphicon glyphicon-play" style="top: 31%; left: 34.5%;" aria-hidden="true"></i>
        </a>

        <ul>
            <li><a href="#0" class="c hora-crono" style="width: 130px; font-size: 20px; padding-top: 0;">00h 00m</a></li>
            <li><a href="#"><i></i></a></li>
            <li><a href="#0" class="c boton-resetear"><i class="fa fa-history" aria-hidden="true"></i></a></li>
            <li><a href="#0" class="c boton-agregar-hora" style="padding-left: 1px"><i class="fa fa-cloud" aria-hidden="true"></i></a></li>
        </ul>

        <span aria-hidden="true" class="stretchy-nav-bg"></span>
    </nav>

  <!--<div class="cronometro">
    <div class="cuadro-crono"><h2 class="hora-crono" style="margin: 0; color: #34495e; margin-right: 5px;">00:00</h2></div>
    <div class="cuadro-crono" style="position: ">
            <button class="boton-lateral boton-disminuir"><i class="glyphicon glyphicon-backward" style="position: relative; right: 3.4px; top: 3px;"></i></button>
            <button class="boton-principal boton-play"><i class="glyphicon glyphicon-play"></i></button>
            <button class="boton-lateral boton-aumentar"><i class="glyphicon glyphicon-forward" style="position: relative; right: -1px; top: 3px;"></i></button>
            <button class="boton-lateral boton-resetear" style="display:inline-block; margin-left: 15px;"><i class="glyphicon glyphicon-refresh" style="position: relative; right: 1px; top: 3px;"></i></button>
            <button class="boton-lateral boton-agregar-hora" style="background-color:#34495e; margin-left: 12.5px;"><i class="glyphicon glyphicon-plus" style="position: relative; color: white; right: 1px; top: 3px;"></i></button>
            <button class="boton-lateral boton-guardar-hora" style="margin-left: 5px; ;background-color: white;"><i class="fa fa-floppy-o" style="position: relative; right: 0px; top: 0px;  color: #34495e;"></i></button>
    </div>
  </div>-->

</template>
