<template name="menu">
  <script>
var _elev = window._elev || {};(function() {var i,e;i=document.createElement("script"),i.type='text/javascript';i.async=1,i.src="https://static.elev.io/js/v3.js",e=document.getElementsByTagName("script")[0],e.parentNode.insertBefore(i,e);})();
_elev.account_id = '5781c9e2e4dad';
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ozpz9hmm';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
  <div class="navbar navbar-inverse menu navbar-fixed-top" id="custom-menu">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    		<a class="navbar-brand" id="marca">BUNQR <span style="position: absolute; left: 175px; top: 28px; font-size: 12px;">&reg;</span></a>



        {{>cronometro2}}

    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">



      <ul class="nav navbar-nav navbar-right">
        {{#if tieneAcceso}}
        {{>cambio}}
        {{/if}}

      {{#with nombre}}
      <span style="font-size: 16px;display: inline-block; border-radius: 70%; border: 1px solid #3498db; background-color: #3498db; width: 40px; height: 40px; color: white; font-weight: initial; padding-top: 8px; text-align: center; margin-top: 5px; margin-right: 20px;">{{getFirstLettersOfName profile.nombre profile.apellido}}</span>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="marca"  role="button" aria-haspopup="true" aria-expanded="false">
              Hola, {{profile.nombre}}
           <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Editar perfil</a></li>
            <li><a href="/configuracion-facturacion">Facturación</a></li>
            <li class="modal-cliente"><a>Agregar cliente</a></li>
            <li><a class="workflow-modal">Crear workflow</a></li>
            <li><a class="hora-modal">Agregar trabajo</a></li>
            <li><a class="tarifa-modal">Crear tarifa</a></li>
            <li role="separator" class="divider"></li>
            <li style="display: inline-block; width: 100%;"><a class="logout" style="color: #e74c3c; display: inline-block; text-align: center; width: 100%; padding-top: 5px; font-size: 18.5px;"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
          </ul>
        </li>

        {{/with}}


      </ul>

    </div>
  </div>
</div>
</template>

<template name="cambio">
  <i class="fa fa-usd simbolo" aria-hidden="true"></i>
  <input type="text" name="tipo-cambio" class="cambio" value="{{valor}}">
</template>

<template name="cronometro2">
  <div class="cronometro">
    <div class="cuadro-crono"><h2 class="hora-crono" style="margin: 0; color: #34495e; margin-right: 5px;">00:00</h2></div>
    <div class="cuadro-crono" style="position: ">
            <button class="boton-lateral boton-disminuir"><i class="glyphicon glyphicon-backward" style="position: relative; right: 3.4px; top: 3px;"></i></button>
            <button class="boton-principal boton-play"><i class="glyphicon glyphicon-play"></i></button>
            <button class="boton-lateral boton-aumentar"><i class="glyphicon glyphicon-forward" style="position: relative; right: -1px; top: 3px;"></i></button>
            <button class="boton-lateral boton-resetear" style="display:inline-block; margin-left: 15px;"><i class="glyphicon glyphicon-refresh" style="position: relative; right: 1px; top: 3px;"></i></button>
            <button class="boton-lateral boton-agregar-hora" style="background-color:#34495e; margin-left: 12.5px;"><i class="glyphicon glyphicon-plus" style="position: relative; color: white; right: 1px; top: 3px;"></i></button>
            <button class="boton-lateral boton-guardar-hora" style="margin-left: 5px; ;background-color: white;"><i class="fa fa-floppy-o" style="position: relative; right: 0px; top: 0px;  color: #34495e;"></i></button>
    </div>
  </div>

</template>
