<template name="subMenu">
  <div class="navbar navbar-inverse subMenu" id="submenu">
       <ul class="nav navbar-nav menu">
        <li><a href="/dashboard" id="marca">Dashboard</a></li>
        <li><a href="/tareas" id="marca">Tareas</a></li>
        <li><a href="/asuntos" id="marca">Expedientes</a></li>
        <li><a href="/clientes" id="marca">Contactos</a></li>
        <li><a href="/calendario" id="marca">Calendario</a></li>
        <li><a href="/documentos" id="marca">Documentos</a></li>
        <li><a href="/tiempos" id="marca">Horas y gastos</a></li>
      </ul>
  </div>
</template>
