<template name="empresas">
  <!-- Menu -->
  <div class="franja-progreso">
    <div class="progreso">
      <p>
        {{email}}
        <i class="glyphicon glyphicon-chevron-right" style="color: #2c3e50"> </i>
        <a href="/clientes2" >CRM</a>
        <i class="glyphicon glyphicon-chevron-right" style="color: #2c3e50"> </i>
        <a href="/clientes2">
        Contactos
        </a>
      </p>
    </div>
  </div>

  <div class="franja-filtros" style="padding-left: 18px;">

    <a href="/dashboard2" class="menu-asunto-aim" style="margin-left: 0px;">
      Actividad
    </a>
    <a href="/calendario2" class="menu-asunto-aim " style="margin-left: 0px;">
      Calendario
    </a>
    <a href="/tareas" class="menu-asunto-aim " style="margin-left: 0px;">
      Tareas
    </a>
    <a href="/equipo" class="menu-asunto-aim ">
      Equipo
    </a>

      <a href="/asuntos2" class="menu-asunto-aim" style="margin-left: 0px;">
      Asuntos
    </a>
    <a href="/clientes2" class="menu-asunto-aim asunto-item-activo" style="margin-left: 0px;">
      CRM
    </a>
    <a href="/facturacion" class="menu-asunto-aim " style="margin-left: 0px;">
      Facturación
    </a>
  </div>

	{{>menuEmpresasCRM}}

  	<!-- <input style="margin-left:220px;width:75%;" type="text" placeholder="Escriba el nombre del contacto" name="contacto" class="form-control buscador-contacto"> -->

  	{{>empresasCRM}}





</template>

<template name="empresasCRM">

	<!-- Sub menu de crm incluye el boton nuevo y el buscador -->
	<div class="franja-filtros">
		{{>botonNuevosContactos}}
		{{>botonFiltroCRM}}
		<input type="text" class="buscador-bunqr buscador-contacto" placeholder="Busca a tu contactos por su nombre, ruc, dni, telefono, dirección, empresa, etc...">
	</div>

	{{>listaEmpresasCRM}}


</template>

<template name="listaEmpresasCRM">
	<div class="table-wrapper">

    <table cellspacing="0" id="tech-companies">
        <thead>
			<tr>
				 <th class="persist essential">
				 	<h3 >
				 		<i class="fa fa-user" aria-hidden="true"></i>
				 	</h3>
				 </th>
				 <th class="optional">
				 	<h3 style="text-align: center;">
				 		<i class="fa fa-building-o" aria-hidden="true"></i>
				 	</h3>
				 </th>
				 <th class="essential">
				 	<h3 style="text-align: center;">
				 		<i class="fa fa-briefcase" aria-hidden="true"></i>
				 	</h3>
				 </th>
				 <th class="essential">
				 	<h3 style="text-align: center;">
				 		<i class="fa fa-mobile" aria-hidden="true"></i>
				 	</h3>
				 </th>
				 <th>
				 	<h3 style="text-align: center;">
				 		<i class="fa fa-cog" aria-hidden="true"></i>
				 	</h3>
				 </th>
			</tr>
       </thead>
       <tbody>
           {{#each empresas}}
			<tr>
				 <th>

					<span class="fh-checkbox">
    					<input type="checkbox" id="dan" name="mycheckbox">
    					<label for="dan">{{this.nombre}}</label>
					</span>
				 	{{#if this.empresa}}
				 	<span class="co-name">
						{{this.nombre}}
				 	</span>
				 	{{else}}
					<span class="co-name">
						<a href="#">+Empresa</a>
				 	</span>
				 	{{/if}}
				 </th>
				 <td>

				 {{#if this.ruc}}
				 	<h5 style="text-align: center; font-size: 14px; color: #34495e;">
				 		<a href="#" class="añadir-empresa">{{this.empresa.ruc}}</a>
				 	</h5>
				{{else}}
					<h5 style="text-align: center; font-size: 14px; color: #34495e;">.
                        <a href="#" class="añadir-empresa">+RUC</a>
				 	</h5>
				{{/if}}

				 </td>
				 <td>
					<span class="asunto-tipo" style="background-color: #3498db; margin: 0 auto;">Empresa</span>
				 </td>

				 <td>
				 {{#if this.celular}}
				 	<h5 style="text-align: center; font-size: 14px; color: #34495e;">
				 		{{this.celular}}
				 	</h5>
				{{else}}
					<h5 style="text-align: center; font-size: 14px; color: #34495e;">
				 		+ celular
				 	</h5>
				{{/if}}
				 </td>
				 <td>
				 	<h3 style="text-align: center;">
				 		<div class="btn-group">
                          <button type="button" class="btn dropdown-toggle" style="background-color: white; padding: 0; color: #34495e;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-option-vertical"></i> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li class="editar-contacto"><a data-id="{{this._id}}" style="color: #3498db;">Editar</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="cerrar-contacto"><a data-id="{{this._id}}" style="color: #e74c3c;">Eliminar</a></li>
                          </ul>
		              </div>
				 	</h3>
				 </td>
			</tr>

	{{/each}}

	 </tbody>
</table>

</div><!-- /table-wrapper -->
</template>
