<template name="empecemos">
	<div class="bienvenido-bunqr">
		<div class="logo-bunqr-small">
			<h1>DDV</h1>
		</div>
		<div class="imagen-bienvenido-bunqr">
			<img src="/notas.png" alt="">
			<img src="/tarjeta.png" alt="" class="card">
			<img src="/cafe.png" alt="">
		</div>
		<div class="contenido-bienvenido-bunqr">

			<h1>¡Bienvenido a DDV!</h1>
			<p>Empezaremos por configurar tu perfil y el de tu firma. Sólo son dos pasos y no te tomará más de dos minutos.</p>
			<button class="iniciar">Empecemos <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
		</div>
	</div>
</template>

<template name="configuracionPerfilInicial">
	<div class="bienvenido-bunqr">
		<div class="logo-bunqr-small">
			<h1>DDV</h1>
		</div>
		<div class="imagen-bienvenido-bunqr" style="margin-top: 25px;">
			<img src="/notas.png" alt="">
		</div>
		<div class="contenido-bienvenido-bunqr">
			<h1>Antes que nada, ¿Cómo te llamas?</h1>
			<input type="text" placeholder="Escribe tu nombre">
			<input type="text" placeholder="Escribe tu apellido">
			<h1>¿Cómo se llama su firma?</h1>
			<input type="text" placeholder="Escribe tu nombre" style="width: 60%; margin-right: 0;">
			<button class="continuar-paso2" style="margin-top: 25px;">Crear mi perfil <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
		</div>
	</div>
</template>

<template name="configuracionFirmaInicial">
	<div class="bienvenido-bunqr">
		<div class="logo-bunqr-small">
			<h1>DDV</h1>
		</div>
		
	</div>
</template>