<template name="login">
	<div class="menu-presentacion">
		{{#animate type="pulse" delay="200"}}
  		<h1>BUNQR</h1>
		{{/animate}}
	</div>
	<form class="cd-form floating-labels">
		<fieldset>
		     <div class="icon">
				<input class="company" type="email" name="email" id="cd-company" placeholder="Ingrese su email">
		    </div>

		    <div class="icon">
				<input class="company" type="password" name="password" id="cd-company" placeholder="Ingrese su contraseña">
		    </div>
			<div class="centrar-boton">
		      	<input type="submit" value="Ingresar">
		    </div>

		</fieldset>
	</form>
</template>
