<template name="signup">
	<div class="menu-presentacion">
		{{#animate type="pulse" delay="200"}}
  		<h1>BUNQR</h1>
		{{/animate}}
	</div>
	<form class="cd-form floating-labels">
		<fieldset>
		    <div class="icon">

				<input class="company" type="text" name="nombre" id="cd-company" placeholder="Ingrese su nombre">
		    </div>

		    <div class="icon">

				<input class="company" type="text" name="apellido" id="cd-company" placeholder="Ingrese su apellido">
		    </div>

		    <div class="icon">

				<input class="company" type="text" name="bufete" id="cd-company" placeholder="Ingrese el nombre de su Bufete">
		    </div>

		     <div class="icon">

				<input class="company" type="email" name="email" id="cd-company" placeholder="Ingrese su email">
		    </div>

		    <div class="icon">

				<input class="company" type="password" name="password" id="cd-company" placeholder="Ingrese su contraseña">
		    </div>

			<div class="centrar-boton">
		      	<input type="submit" value="Registrarse">
		    </div>

		</fieldset>
	</form>
</template>
