<template name="documentos">
  <!-- Menu -->
    <div class="franja-progreso">
        <div class="progreso">
            <p>
                {{email}}
                <i class="glyphicon glyphicon-chevron-right" style="color: #2c3e50"> </i>
                <a href="/documentos" > Documentos</a>
            </p>
        </div>
    </div>

    <div class="franja-filtros" style="padding-left: 4px;">
        <a href="/dashboard2" class="menu-asunto-aim" style="margin-left: 0px;">
            Actividad
        </a>
        <a href="/calendario2" class="menu-asunto-aim " style="margin-left: 0px;">
            Calendario
        </a>
        <a href="/tareas" class="menu-asunto-aim " style="margin-left: 0px;">
            Tareas
        </a>
        <a href="/equipo" class="menu-asunto-aim ">
            Equipo
        </a>
        <a href="/asuntos2" class="menu-asunto-aim" style="margin-left: 0px;">
            Asuntos
        </a>
        <a href="/clientes2" class="menu-asunto-aim " style="margin-left: 0px;">
            CRM
        </a>
        <a href="/facturacion" class="menu-asunto-aim" style="margin-left: 0px;">
            Facturación
        </a>
    </div>
</template>

